@page
@using System.Web
@model CharactersModel
@{
    ViewData["Title"] = "Characters";
}

<h1>Characters</h1>

@foreach (var character in Model.Characters)
{

 <a class ="name"href="@Url.Page("CharacterProfile", new {url = HttpUtility.UrlDecode(character.Url.AbsoluteUri)})">@character.Name</a>


}