@page
@using System.Web
@model FilmsModel
@{
    ViewData["Title"] = "Films";
}

<h1>Films</h1>


@foreach (var film in Model.Films)
{

    <a class ="name" href="@Url.Page("FilmProfile", new { url = HttpUtility.UrlDecode(film.Url.AbsoluteUri) } )">@film.Title</a>
}
