@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="site-title">Star Wars Database</h1>
    This page pulls all information from the good folks that maintain <a href="https://swapi.co/">https://swapi.co/</a> 
</div>
