@page 
@using System.Web
@model SpeciesModel
@{
    ViewData["Title"] = "Species";
}

<h1>Species</h1>

@foreach (var specie in Model.Species)
{
    <a class="name" href="@Url.Page("SpecieProfile", new {url = HttpUtility.UrlDecode(specie.Url.AbsoluteUri)})">@specie.Name</a>
}